
/* HOME */

@-webkit-keyframes pulse {
    0% {
        background-color: #fa7a7a
    }

    25% {
        background-color: #fc6262
    }

    50% {
        background-color: #fc5151
    }

    75% {
        background-color: #ff4242
    }

    100% {
        background-color: #FF0000
    }

    75% {
        background-color: #ff4242
    }

    50% {
        background-color: #fc5151
    }

    25% {
        background-color: #fc6262
    }

    0% {
        background-color: #fa7a7a
    }
}

.live-dot {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    -webkit-animation: pulse 2s infinite;
}

.live-pill {
    background-color: var(--black-10);
    border: none;
    border-radius: 20px;
    padding: 1px 8px;
    margin: 0px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.live-text {
    color: #FF0000 !important;
    margin-left: 4px;
    font-weight: bold;
}

.pill-container-home {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    width: fit-content;
    justify-content: flex-start;
    width: -webkit-fill-available;
}

.description {
    text-align: left;
    width: -webkit-fill-available;
    font-weight: 300;
    margin: 8px 8px;
}

.update-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0px;
    width: -webkit-fill-available;
}

.last-updated {
    margin-right: 4px;
    font-weight: 300;
}

.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
}

.chart {
    display: none;
    width: -webkit-fill-available;
    height: 400px; /* Adjust height as needed */
}

    .chart.active {
        display: block;
        width: -webkit-fill-available;
    }

canvas {
    width: -webkit-fill-available !important;
    height: auto !important;
}

.custom-svg {
    width: -webkit-fill-available !important;
    height: 400px !important;
}

.custom-bar {
    transition: fill 0.3s;
}

.primary-bar {
    fill: var(--primary-color) !important;
}

.custom-bar:not(.primary-bar) {
    fill: var(--black-20) !important;
}

.custom-label {
    font-family: inherit !important;
}

/* LINE CHARTS */

.line-chart {
    width: 100%;
    height: 300px; /* Adjust the height as needed */
    min-width: 300px; /* Ensure a reasonable minimum width */
    display: block;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.0); /* Make sure the icons have a visible background */
    width: 10px;
    height: 30px;
    filter: invert(100%);
    color: var(--black-90);
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* Ensure the click area is large enough */
}

#playerCarousel{
    width: -webkit-fill-available;
}

.chart-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.chart-card-body{
    line-height: 100%;
}

.chart-rank{
    font-size: 32px;
    font-weight: 500;
    color: var(--black-70);
}

.chart-player {
    font-size: 18px;
    font-weight: 500;
    color: var(--black-70);
}

#positionDropdown {
    border: none;
    background: var(--black-10);
    padding: 4px;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
    text-align: center;
}

.chart-total{
    font-size: 24px;
    font-weight: 500;
    color: var(--black-70);
}

.vs-total {
    margin-left: 8px;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-70);
}

.chart-total-row {
    display: flex;
    align-items: baseline;
}

.chart-total-description{
    margin-top: 2px;
}

.chart-description{
    font-size: 12px;
    font-weight: 300;
}

.dropdown-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: -webkit-fill-available;
}

.category-label {
    color: var(--black-30);
    font-weight: 500;
}


.category-value {
    margin-left: 8px;
    color: var(--white);
    font-weight: 500;
}

/* Player card */

.players-name {
    display: flex;
    width: -webkit-fill-available;
    color: var(--black-80);
    font-size: 24px;
    font-weight: 500;
    margin: 8px;
    justify-content: center;
    text-align: center;
}

.player-team-name {
    color: var(--black-60);
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

.heading-row {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-around;
}

.measure-title {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-around;
    font-size: 16px;
    font-weight: 600;
}

.player-values {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-around;
    margin-bottom: 8px
}

.measure-values {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-around;
    font-size: 26px;
    font-weight: 400;
}

.higher{
    color: var(--secondary-color)
}

.lower{
    color: var(--primary-color)
}


.average-values {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 400;
    color: var(--black-40)
}

.position-average-title {
    display: flex;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-30);
    width: -webkit-fill-available;
    justify-content: center;
    margin: 0px 0px 16px 0px;
}

.injury-warning {
    display: flex;
}

/* Upcoming Fixtures */

.fixtures-card {
    display:flex;
    min-height: 280px;
    justify-content: space-around;
    padding: 0px !important;
}

.fixture-details {
    display: flex;
    width: -webkit-fill-available;
    flex-direction: column;
}

.shirt {
    max-width: 50px;
}

.no-fixture {
    opacity: 0;
}

.fixture-heading {
    display: flex;
    color: var(--black-40);
    width: -webkit-fill-available;
    justify-content: center;
}

.fixtures {
    display: flex;
    width: -webkit-fill-available;
}

.difficulty-2 {
    display: flex;
    color: var(--black-80);
    background-color: #01FC7A;
    padding: 4px 8px;
    width: -webkit-fill-available;
    justify-content: center;
}

.difficulty-3 {
    display: flex;
    color: var(--black-80);
    background-color: var(--black-10);
    padding: 4px 8px;
    width: -webkit-fill-available;
    justify-content: center;
}

.difficulty-4 {
    display: flex;
    color: var(--black-10);
    background-color: #FF1751;
    padding: 4px 8px;
    width: -webkit-fill-available;
    justify-content: center;
}

.difficulty-5 {
    display: flex;
    color: var(--black-10);
    background-color: #80072D;
    padding: 4px 8px;
    width: -webkit-fill-available;
    justify-content: center;
}

.difficulty-0 {
    display: flex;
    color: var(--primary-color);
    font-weight: 800;
    padding: 4px 8px;
    background-color: none;
    width: -webkit-fill-available;
    justify-content: center;
    align-items: center;
}

.chance-next-round-0 {
    background-color: #FF3B30;
    color: var(--black-10);
    display: flex !important;
    width: -webkit-fill-available;
    padding: 8px 16px;
    justify-content: center;
    font-weight: 500;
}

.chance-next-round-25 {
    background-color: #FF621F;
    color: var(--black-80);
    display: flex !important;
    width: -webkit-fill-available;
    padding: 8px 16px;
    font-weight: 500;
    justify-content: center;
}

.chance-next-round-50 {
    background-color: #FF930F;
    color: var(--black-80);
    display: flex !important;
    width: -webkit-fill-available;
    padding: 8px 16px;
    font-weight: 500;
    justify-content: center;
}

.chance-next-round-75 {
    background-color: #FFCC00;
    color: var(--black-80);
    display: flex !important;
    width: -webkit-fill-available;
    padding: 8px 16px;
    font-weight: 500;
    justify-content: center;
}

.chance-next-round-null {
    background-color: #fff;
    color: var(--black-10);
    justify-content: center;
    display: none !important;
}

.carousel {
    width: -webkit-fill-available !important;
}

.player-summary-home {
    margin: 1% 1%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 48%;
    min-height: 400px;
    width: -webkit-fill-available;
}

.player-summary-area {
    display: flex;
    width: -webkit-fill-available !important;
    margin: 10px 0px 50px;
}

.supporting-metrics {
    display: flex;
    font-size: 16px;
    font-weight: 300;
    color: var(--black-70);
    width: -webkit-fill-available !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.supporting-metrics-values {
    font-size: 22px;
    font-weight: 500;
}

.player-details {
    width: -webkit-fill-available !important;
}

.blank {
    display: flex;
    color: var(--primary-color);
    font-weight: 700;
    background-color: none;
    width: -webkit-fill-available;
    justify-content: center;
}


/*CONSIDER DELETEING*/
.alternatives {
    display: flex;
    direction: row;
    width: -webkit-fill-available;
}

.alternatives-details {
    width: -webkit-fill-available;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.alternatives-card {
    min-height: 200px;
    justify-content: space-around;

}

.alt-player-form {
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
}

.alt-player-value {
    display: flex;
    justify-content: center;
    width: -webkit-fill-available;
}

.alternatives-heading {
    display: flex;
    color: var(--black-40);
    width: -webkit-fill-available;
    justify-content: center;
    margin: 8px;
}

.alt-player-team-name {
    color: var(--black-60);
    font-size: 14px;
    font-weight: 300;
    display: flex;
    justify-content: center;
}

.alt-player {
    display: flex;
    color: var(--black-80);
    padding: 4px 8px;
    width: -webkit-fill-available;
    justify-content: center;
}

.alternative-player {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.alternatives-shirt {
    max-width: 50px;
}

/*END CONSIDERATION*/


.venue-row {
    display: flex;
}

.coat-hanger {
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    margin: 10px 0px;
    flex-direction: column;
    align-items: center;
}

.team-shirts {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
}

.venue {
    display: flex;
    font-weight: 400;
    font-size: 16px;
    color: var(--black-20);
    font-size: 16px;
    width: -webkit-fill-available;
    justify-content: center;
}

.home {
    display: flex;
    font-weight: 600;
    font-size: 16px;
    color: var(--black-80);
    font-size: 16px;
    width: -webkit-fill-available;
    justify-content: center;
}

.away {
    display: flex;
    font-weight: 300;
    color: var(--black-80);
    font-size: 16px;
    width: -webkit-fill-available;
    justify-content: center;
}

.legend {
    margin: 8px;
    display: flex;
    align-content: center;
    align-items: center;
}

.legend-title {
    display: flex;
    margin: 0px 10px;
}