:root {
    --primary-color: rgb(187, 38, 73);
    --secondary-color: rgb( 23, 163, 152);
    --tertiary-color: rgb(176, 48, 96);
    --white: rgb(255, 255, 255);
    --black-10: rgb(229, 229, 229);
    --black-20: rgb(204, 204, 204);
    --black-30: rgb(179, 179, 179);
    --black-40: rgb(153, 153, 153);
    --black-50: rgb(128, 128, 128);
    --black-60: rgb(102, 102, 102);
    --black-70: rgb(77, 77, 77);
    --black-80: rgb(51, 51, 51);
    --black-90: rgb(26, 26, 26);
    --black-100: rgb(0, 0, 0);
}

*, *:before, *:after {
    box-sizing: border-box;
}

.team-loader {
    display: flex;
    width: -webkit-fill-available;
    justify-content: center;
    margin: 15%;
    max-width: 400px;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader-content {
    text-align: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


ul {
    list-style-type: none;
    display: block;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    padding-inline-start: 0px !important;
}

.text-center-height{
    height: -webkit-fill-available;
}

.footer {
    color: var(--white);
    background-color: var(--secondary-color);
    padding: 10px;
    width: -webkit-fill-available;
}

@media screen and (max-width: 950px) {
    .footer {
        color: var(--white);
        background-color: var(--secondary-color);
        padding: 2px;
        width: -webkit-fill-available;
        height: fit-content;
    }
}

p {
    margin: 0px;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: 'Roboto Light', 'Helvetica', 'Segoe UI' Arial, sans-serif !important;
    background-color: var(--white);
    overflow-x: hidden;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.body-content {
    margin: 10px;
    height: fit-content;
    min-height: -webkit-fill-available;
}
/* Scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 3px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--secondary-color);
    }

.primary-text{
    color: var(--black-80) !important; 
    font-size: 32px;
    font-weight: 300;
    margin: 8px 30px 8px 8px;
}

.secondary-text{
    color: var(--black-60);
    font-size: 16px;
    font-weight: 400;
    margin: 8px 16px 8px 8px;
}

/* Nav CCS*/

/* Navbar Toggler*/

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;..");
}

.navbar {
    margin-bottom: 0px;
    background-color: var(--primary-color) !important;
    color: var(--white) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--white) !important;
    font-size: larger !important;
}

.navbar-light .navbar-toggler {
    color: var(--white) !important;
    border: none;
}

.navbar-brand {
    padding: 0px !important;
    font-size: 12px !important;
    line-height: 0px !important;
}

@media (min-width: 768px) {
    .navbar {
        border-radius: 0px !important;
        display: flex !important;
    }

    .navbar-collapse.collapse {
        width: -webkit-fill-available;
    }

    .navbar-nav {
        display: flex;
        width: -webkit-fill-available;
    }

    .nav-items {
        display: flex;
        width: -webkit-fill-available;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
}

.nav-item{
    width: -webkit-fill-available !important;
}

.navbar-collapse.in {
    overflow-y: hidden;
}


.logo {
    height: 4.0em;
    pointer-events: none;
}

.App-header {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: var(--primary-color);
    align-content: space-around;
}

div.list {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-content: center;
    align-items: center;
    min-width: -webkit-fill-available;
    flex-wrap: wrap;
    padding: 0px 40px
}

div.list, .menu-items.open {
    display: flex;
    flex-grow: 1;
    justify-content: space-around; /* This will equally distribute the space around items */
}

a.listItem {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    color: var(--white);
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.5em;
    padding: 8px 0px;
    border-bottom: 5px solid transparent;
}

    a.listItem:hover {
        border-bottom: 5px solid #2F073B;
    }

a.active:hover {
    border-bottom: 5px solid #2F073B;
}


a.active {
    border-bottom: 5px solid transparent;
    background-color: #fff;
    color: #2F073B;
}


.icons {
    font-size: 1.5em;
    padding: 8px 16px;
    text-decoration: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}


@media screen and (max-width: 950px) {
    a.list {
    }

    a.listItem {
        min-width: -webkit-fill-available;
    }

        a.listItem:hover {
            border-bottom: transparent;
        }
}

/* Responsive Menu */
@media screen and (max-width: 950px) {
    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }
}



@media screen and (max-width: 950px) {
    /* Show mobile menu on small screens */
    .mobile-menu {
        display: flex;
        min-width: -webkit-fill-available;
        padding: 0px 10px;
        flex-direction: row-reverse;
    }

        /* Show mobile menu on small screens */
        .mobile-menu.open {
            display: flex;
            min-width: -webkit-fill-available;
            flex-direction: row;
            justify-content: space-between;
            padding: 0% 5% 0% 0%;
        }

    /* Hide desktop menu on small screens */
    .desktop-menu {
        display: none;
    }

    .listItem {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: var(--white);
        min-width: -webkit-fill-available;
    }

    .App-header {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: var(--primary-color);
        align-content: space-around;
        justify-content: space-between;
        padding-right: 40px
    }
}

/* Breadcrumb CSS*/


.breadcrumb {
    padding: 16px 16px;
    border-radius: 0px !important;
    font-size: 1em;
    font-family: roboto;
    color: var(--primary-color);
    background-color: var(--black-20);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.breadcrumb-link {
    text-decoration: none;
    color: inherit;
}

.breadcrumb-separator {
    padding: 0px 1em;
}

.breadcrumb-segment {
    font-weight: 600;
}

/* Team page CSS */
.Team-title {
    font-family: Roboto;
    color: var(--primary-color);
}


/* Definition load page */

.dictionary-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fffcf7;
    z-index: 10000; /* Ensure it's on top */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    padding: 20px
}

hr{
    width: 50%;
}

.dictionary-content {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

    .dictionary-content h1 {
        font-size: 4rem;
        margin: 0;
        font-weight: normal;
    }

.phonetics {
    font-style: italic;
    font-size: 1rem;
    color: #555;
}

separator {
    margin: 1rem 0;
    color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    width: 50%;
}

.definition {
    text-align: left;
    font-size: 1rem;
    color: var(--black-70);
}

/* Add transition for smooth fade-out */
#dictionary-text {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out; /* Fade-in effect for 0.5 seconds */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#dictionary-overlay {
    opacity: 1; /* Initially visible */
    transition: opacity 0.5s ease-in-out; /* Fade-out effect for 0.5 seconds */
}

.fade-in {
    opacity: 1 !important;
}

.fade-out {
    opacity: 0 !important;
}
/* ============================================================================================================= */

/* PLAYERS.HTML */
.holding-page {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    align-items: center;
    margin: 30px;
    height: fit-content;
    align-content: center;
    justify-content: center;
}

.player-container{
}

.placeholder-image {
    width: 80%;
    margin: 20px;
    max-width: 250px;
}

.placeholder-text {
    font-size: 200%;
    font-weight: 600;
    text-align: center;
    margin: 20px;
}

.placeholder-subtext {
    font-size: 100%;
    font-weight: 300;
    color: #a09696;
    text-align: center;
    margin: 20px;
}


/* ============================================================================================================= */
/* COMPARE.HTML */
.back-button-container {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid darkgray;
    align-items: center;
    padding: 10px 5px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.category-title {
    font-weight: 400;
    padding-left: 8px;
}

.back-icon{
    font-weight: 600;
    padding-right: 4px;
}

.back-button{
    font-weight: 600;
    padding-right: 8px;
}



.sub-line{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pick-players{
    width: -webkit-fill-available;
}

/* Filter styles */

.filters {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

/* Custom Dropdown Styles */
/* Add styles for mobile dropdown visibility */
@media (max-width: 768px) {

    .filters {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: baseline;
    }

    .custom-dropdown {
        width: -webkit-fill-available !important;
    }

        .custom-dropdown .options {
            position: absolute;
            width: 100%;
            z-index: 1000;
            background-color: white;
            border: 1px solid #ccc;
        }
}



.custom-dropdown {
    position: relative;
    display: flex;
    width: fit-content;
    min-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    user-select: none;
}

    .custom-dropdown .selected {
        padding: 7px;
        width: -webkit-fill-available;
        background: #fff;
    }

    .custom-dropdown .options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 0 0 4px 4px;
        display: none;
        z-index: 1000;
    }

    .custom-dropdown .option {
        padding: 7px;
        cursor: pointer;
        width: -webkit-fill-available;
    }

        .custom-dropdown .option:hover {
            background: #f1f1f1;
        }

    .custom-dropdown.open .options {
        display: block !important;
        width: max-content;
        overflow: auto;
        max-height: 500px;
    }

.dropdown-content {
    overflow-y: scroll;
    width: -webkit-fill-available;
    max-height: 400px;
    height: min-content;
    overflow-x: hidden;
}

.search-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 8px;
    padding: 4px;
}

.search {
    margin: 8px;
    height: fit-content;
    color: darkgray;
}

.search-input {
    width: -webkit-fill-available;
    padding: 8px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #3f3f3f;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none
}

    search-input:focus, input:focus {
        outline: none;
    }

.comparison-result {
    margin: 10px 0px;
}

/* Comparison Cards */
.player-summary{
    width: -webkit-fill-available
}

.comparison-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-clip: #ffffff;
}

@media only screen and (max-width: 1200px) {
    .comparison-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        background-clip: #ffffff;
    }

    .content-container {
        max-width: -webkit-fill-available;
    }

   .card {
        width: auto;
        margin: 2% 1%;
        border: none;
        border-radius: 0px;
        padding: 10px 20px;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   

}

.card {
    margin: 1% 1%;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 48%;
    min-height: 400px;
}

    .card h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

.metric-row {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

    .metric-row .metric {
        flex: 1;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        margin: 0px 18px;
    }

    .metric-row .value-left, .metric-row .rank-left {
        text-align: left;
        flex-grow: 1;
        flex-basis: 0;
    }

    .metric-row .value-right, .metric-row .rank-right {
        text-align: right;
        flex-grow: 1;
        flex-basis: 0;
    }

.highlight {
    color: var(--secondary-color);
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px
}

.pill-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    width: fit-content;
    justify-content: space-between;
}

.pill {
    border: 1px solid var(--secondary-color);
    background-color: var(--white);
    border-radius: 20px;
    padding: 5px 15px;
    margin: 0px 5px;
    color: var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .pill:hover {
        background-color: var(--black-10)
    }

    .pill.active {
        color: #FFFFFF;
        background-color: var(--secondary-color);
    }

.controls-container {
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
    position: relative;
}


.edit-text {
    width: fit-content;
    text-wrap: nowrap;
    margin: 0px;
}

.edit {
    font-size: 14px !important;
    color: #fff;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    padding: 8px 4px;
    height: fit-content;
    flex-direction: row;
    border-radius: 3px;
    align-items: center;
    width: fit-content;
}
    .edit:hover {
        background-color: rgba(55, 0, 60, 0.2);
        color: var(--secondary-color);
    }
.edit-icon {
    display: none;
    cursor: pointer;
    font-size: 12px;
    padding-left: 4px;
    transition: all 0.5s ease;
    z-index: 1001;
    color: inherit;
}

/* Compare Button Styles */
.button-primary {
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    padding: 6px 14px;
    color: var(--black-80);
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    width: --webkit-fill-available;
}

    .button-primary:hover {
        background-color: var(--white);
        color: var(--secondary-color);
        border: 2px solid var(--secondary-color);
    }

