*, *:before, *:after {
    box-sizing: border-box;
}

#chartContainer {
    height: 600px; /* Adjust based on your preference */
    overflow-y: auto; /* Allows vertical scrolling */
}

canvas {
    width: 100% !important;
    max-width: 800px; /* Adjust based on your design needs */
    height: auto !important;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: 'Roboto Light', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.body-content{
    margin: 10px
}

/* Scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 3px;
}

/* Scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 3px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #37003C;
    }

/* Nav CCS*/

.logo {
    height: 4.0em;
    pointer-events: none;
}

.App-header {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #00FF87;
    align-content: space-around;
}

div.list {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-content: center;
    align-items: center;
    min-width: -webkit-fill-available;
    flex-wrap: wrap;
    padding: 0px 40px
}

div.list, .menu-items.open {
    display: flex;
    flex-grow: 1;
    justify-content: space-around; /* This will equally distribute the space around items */
}

a.listItem {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.5em;
    padding: 8px 0px;
    border-bottom: 5px solid transparent;
}

    a.listItem:hover {
        border-bottom: 5px solid #2F073B;
    }

a.active:hover {
    border-bottom: 5px solid #2F073B;
}


a.active {
    border-bottom: 5px solid transparent;
    background-color: #fff;
    color: #2F073B;
}


.icons {
    font-size: 1.5em;
    padding: 8px 16px;
    text-decoration: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}


@media screen and (max-width: 950px) {
    a.list {
    }

    a.listItem {
        min-width: -webkit-fill-available;
    }

        a.listItem:hover {
            border-bottom: transparent;
        }
}

/* Mobile Menu Styles */

.mobile-menu {
    display: flex;
    align-items: center;
}

.burger-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-right: 20px
}

.bar1,
.bar2,
.bar3 {
    width: 100%;
    height: 4px;
    background-color: #333;
}

.menu-items {
    display: none;
}

    /* Menu Item X */

    .menu-items.open {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


.burger-icon.open .bar1 {
    transform: rotate(-45deg) translate(0px, 3px);
}

.burger-icon.open .bar2 {
    transform: rotate(45deg) translate(-3px, -5px);
}

.burger-icon.open .bar3 {
    opacity: 0;
}

/* Show mobile menu on small screens */
.mobile-menu.open .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80%;
}


/* Responsive Menu */

.desktop-menu {
    display: contents;
}

    .desktop-menu ul {
        display: flex;
        width: 100%;
        justify-content: space-around; /* This distributes space around items equally */
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .desktop-menu li {
        margin-right: 20px;
    }

        .desktop-menu li:last-child {
            margin-right: 0;
        }

    .desktop-menu a {
        text-decoration: none;
    }

/* Mobile menu styles */

.mobile-menu {
    display: none;
}

@media screen and (max-width: 950px) {
    /* Show mobile menu on small screens */
    .mobile-menu {
        display: flex;
        min-width: -webkit-fill-available;
        padding: 0px 10px;
        flex-direction: row-reverse;
    }

        /* Show mobile menu on small screens */
        .mobile-menu.open {
            display: flex;
            min-width: -webkit-fill-available;
            flex-direction: row;
            justify-content: space-between;
            padding: 0% 5% 0% 0%;
        }

    /* Hide desktop menu on small screens */
    .desktop-menu {
        display: none;
    }

    .listItem {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
        min-width: -webkit-fill-available;
    }

    .App-header {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: #00FF87;
        align-content: space-around;
        justify-content: space-between;
        padding-right: 40px
    }
}

/* Breadcrumb CSS*/

.breadcrumb {
    padding: 16px 16px;
    font-size: 1em;
    font-family: roboto;
    color: #fff;
    background-color: #37003C;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.breadcrumb-link {
    text-decoration: none;
    color: inherit;
}

.breadcrumb-separator {
    padding: 0px 1em;
}

.breadcrumb-segment {
    font-weight: 600;
}

/* Team page CSS */
.Team-title {
    font-family: Roboto;
    color: #00FF87;
}

/* ============================================================================================================= */

/* COMPARE.HTML */

/* Filter styles */

.filters {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

/* Custom Dropdown Styles */
/* Add styles for mobile dropdown visibility */
@media (max-width: 768px) {
    .custom-dropdown {
        width: 100%;
    }

        .custom-dropdown .options {
            position: absolute;
            width: 100%;
            z-index: 1000;
            background-color: white;
            border: 1px solid #ccc;
        }
}



.custom-dropdown {
    position: relative;
    display: flex;
    width: fit-content;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
    user-select: none;
}

    .custom-dropdown .selected {
        padding: 10px;
        background: #fff;
    }

    .custom-dropdown .options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 0 0 4px 4px;
        display: none;
        z-index: 1000;
    }

    .custom-dropdown .option {
        padding: 10px;
        cursor: pointer;
        width: -webkit-fill-available;
    }

        .custom-dropdown .option:hover {
            background: #f1f1f1;
        }

    .custom-dropdown.open .options {
        display: block;
        width: max-content;
        max-height: 500px
    }

.dropdown-content {
    overflow-y: scroll;
    width: -webkit-fill-available;
    max-height: 400px;
    height: min-content;
    overflow-x: hidden;
}

.search-bar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-bottom: 8px;
    padding: 2px;
}

.search {
    margin: 8px;
    height: fit-content;
    color: darkgray;
}

.search-input {
    width: -webkit-fill-available;
    padding: 8px;
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #3f3f3f;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none
}

    search-input:focus, input:focus {
        outline: none;
    }

.comparison-result {
    margin: 10px 0px;
}

/* Comparison Cards */
.comparison-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .comparison-cards {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

   .card {
        width: auto;
        margin: 2% 1%;
        border: 1px solid #ccc;
        border-radius: 0px;
        padding: 10px 20px;
        background: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

.card {
    margin: 1% 1%;
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 48%;
}

    .card h2 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

.metric-row {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
}

    .metric-row .metric {
        flex: 1;
        text-align: center;
        font-size: 1em;
        font-weight: bold;
        margin: 0px 18px;
    }

    .metric-row .value-left, .metric-row .rank-left {
        text-align: left;
        flex-grow: 1;
        flex-basis: 0;
    }

    .metric-row .value-right, .metric-row .rank-right {
        text-align: right;
        flex-grow: 1;
        flex-basis: 0;
    }

.highlight {
    color: #37003C;
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px
}

.pill-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    width: fit-content;
    justify-content: space-between;
}

.pill {
    border: 1px solid #37003C;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 0px 5px;
    color: #37003C;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

    .pill:hover {
        background-color: rgba(55, 0, 60, 0.2);
    }

    .pill.active {
        color: #FFFFFF;
        background-color: #37003C;
    }

/* Compare Button Styles */
#compareButton {
    border: 1px solid #37003C;
    border-radius: 5px;
    padding: 10px 20px;
    color: #FFF;
    background-color: #37003C;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

    #compareButton:hover {
        background-color: rgba(55, 0, 60, 0.2);
        color: #37003C;
    }


/* Compare - player summary cards */

.comparison-card {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1% 1%;
}

.player-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
}

    .player img {
        width: 50px;
        height: auto;
    }

.player-name {
    font-size: 14px;
    color: #37003C;
    margin-top: 10px;
    text-align: center;
}

.player-score {
    font-size: 36px;
    font-weight: 300;
    margin: 20px 10px 0px 0px;
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-between;
}

.spacer{
    width: 54px;
}

.player-score-title {
    display: flex;
    font-size: 20px;
    font-weight: 300;
    color: #37003C !important;
    align-items: center;
}

.highlight-player-score {
    color: #37003C !important;
    font-family: Roboto;
    font-weight: 500;
    font-size: 48px !important;
}

.player-score-value {
    text-align: center;
    color: #888;
    width: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
}

.section-title {
    font-size: 24px;
    color: #37003C;
    margin: 20px 0;
}

.net-transfers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    width: -webkit-fill-available;
}

.net-transfer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: -webkit-fill-available;
}

.net-transfer-value {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.net-transfer-placeholder {
    color: #ccc;
}

.net-transfer-label {
    font-size: 14px;
    color: #37003C;
}

.net-transfer-rank {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
}
