{% if not is_ajax %}
{% extends 'layout.html' %}
{% endif %}

{% block content %}
<div class="container text-center">
    <h1>Player Comparison</h1>
    <p>Pick two players:</p>
    <div class="custom-dropdown" id="player1Dropdown" tabindex="0">
        <div class="selected">Select Player 1</div>
        <div class="options"></div>
    </div>
    <div class="custom-dropdown" id="player2Dropdown" tabindex="0">
        <div class="selected">Select Player 2</div>
        <div class="options"></div>
    </div>
    <button id="compareButton">Compare</button>

    <div id="comparisonResult" class="row mt-4">
        <div id="player1Details" class="col-md-6"></div>
        <div id="player2Details" class="col-md-6"></div>
    </div>
</div>
{% endblock %}
