{% if not is_ajax %}
{% extends 'layout.html' %}
{% endif %}

{% block content %}
<div id="loading-overlay" style="display: none;">
    <div class="loading-container">
        <img class="team-loader" src="\static\content\images\loader.gif" alt="Loading..." />
        <p id="loading-text" class="secondary-text" style="text-align: center">This may take 1-2 minutes to process. Please don't leave the page.</p>
    </div>
</div>

<div id="data-capture" class="container">
    <div class="text-containers">
        <div class="primary-text">What is most important to you?</div>
        <div class="secondary-text">This will weight the team optimisation.</div>
    </div>
    <div class="sliders">
        <div class="slider-wrapper">
            <div class="slider-label">
                <div><span>Total points scored</span></div>
                <span class="slider-label-value">33%</span>
            </div>
            <input type="range" class="form-range slider" min="0" max="100" value="33">
        </div>

        <div class="slider-wrapper">
            <div class="slider-label">
                <span>Form</span>
                <span class="slider-label-value">34%</span>
            </div>
            <input type="range" class="form-range slider" min="0" max="100" value="34">
        </div>

        <div class="slider-wrapper">
            <div class="slider-label">
                <span>Minutes played</span>
                <span class="slider-label-value">33%</span>
            </div>
            <input type="range" class="form-range slider" min="0" max="100" value="33">
        </div>
    </div>
    <button id="submit-btn" class="btn button-primary mt-3" disabled>Submit</button>
</div>

<div id="team-locations" style="display: none;">
    <div class="pitch-container">
        <div class="players-container" id="players-container">
            <!-- Player cards will be inserted here by JavaScript -->
        </div>
    </div>

    <!-- Bench container -->
    <div class="bench-container" id="bench-container">
        <!-- Bench players will be inserted here by JavaScript -->
    </div>
</div>


<script src="{{ url_for('static', filename='scripts/sum100Sliders.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/team.js') }}"></script>

{% endblock %}
 